@media screen and (min-width: 768px)
{
    .navbar{
        display:flex;
        background-color:black;
        color: white;
        justify-content: flex-end;
    }
    p{
        padding-right: 5px;
    }
}
@media screen and (max-width: 768px)
{
    .navbar{
        background-color:black;
        color: white;
        text-align:center;
    }
}